* {
  padding: 0;
  margin: 0;
  border-color: #333333;
  border-width: 0.5px;
  color: #333333;
  font-family: Helvetica, sans-serif;
}



.main-container {
  display: grid;
  height: 100vh;
  grid-gap: 0;
  
  /*  review for mobile*/
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 20% 80%;
  grid-template-areas: "side-bar-container content-view-container";
}

.side-bar-container {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(50px);
  border-style: none solid none none;
  grid-area: side-bar-container;
}

.content-view-container {
  grid-area: content-view-container;
  display: grid;
  grid-gap: 0;
  /*  review for mobile*/
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 400px);
}

.side-bar {
  grid-area: side-bar;
  position: sticky;
  display: flex;
  list-style: none;

  /*  review for mobile*/
  top: 50%;
  transform: translate(0, -50%);
  padding-right: 1rem;
  flex-direction: column;  
  text-align: right;
}

.side-bar-item {
  /*  review for mobile*/
  margin-bottom: 1rem;
}

.side-bar-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card {
  border-style: none solid solid none;
  display: flex;
  /*  review for mobile*/
  width: 300px;
  height: 400px;
  flex-direction: column;
}
.card * {
  padding: 1rem;
}



/*add mode for mobile landscape 2 columns, with sidebar on the left*/
/*screens 320, 768, 1200*/





@media only screen and (max-width: 800px) {
  .main-container {width: 100%;}
}
@media only screen and (max-width: 575px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-areas: "content-view-container" "side-bar-container";
  }
  .content-view-container {
  /*  review for mobile*/
  margin: 0 auto;
  /*grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(auto-fit, 200px);*/
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 180px);
  
  }
  .side-bar-container {
    border-style: solid none none none;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .side-bar {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 50%;
    transform: translate(0, -50%);

  }
  .side-bar-item {margin: 1rem;}
  .card {
    width: 50vw;
    height: 180px;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card p {font-size: 14px}
}