* {
  padding: 0;
  margin: 0;
  border-color: #333333;
  border-width: 0.5px;
  color: #333333;
  font-family: Helvetica, sans-serif;
}



.main-container {
  display: grid;
  height: 100vh;
  width: 80%;
  margin: 0 auto;

  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  grid-template-areas: "side-bar-container content-view-container";
  grid-gap: 0;
}

.card {
  grid-area: card;
  padding: 1rem;
  margin: 1rem;
  border-style: none solid solid none;
  background: #fffff;
}

.side-bar-container {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(50px);
  position: sticky;
  left: 0;
  border-style: none solid none none;
  grid-area: side-bar-container;
}

.content-view-container {
  grid-area: content-view-container;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 0;
}