* {
  padding: 0;
  margin: 0;
  border-color: #333333;
  border-width: 0.5px;
  color: #333333;
  font-family: Helvetica, sans-serif;
}



.main-container {
  display: grid;
  height: 100vh;
  width: 80%;
  margin: 0 auto;

  grid-template-columns: 20% 80%;
  grid-template-areas: "side-bar-container content-view-container";
  grid-gap: 0;
}

.side-bar {
  grid-area: side-bar;
  position: sticky;
  top: 50%;
  transform: translate(0, -50%);
  padding-right: 1rem;
  
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: right;
}

.side-bar-item {
  margin-bottom: 1rem;
}

.side-bar-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card {
  padding: 1rem; 
  border-style: none solid solid none;
}

.side-bar-container {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(50px);
  position: sticky;
  left: 0;
  border-style: none solid none none;
  grid-area: side-bar-container;

  /*grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "side-bar"*/
}

.content-view-container {
  grid-area: content-view-container;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-template-rows: repeat(auto-fit, minmax(400px, 400px));
}






