* {
	padding: 0;
	margin: 0;
	border-color: #333333;
	border-width: 0.5px;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
}



.main-container {
	height: 100vh;
	width: 100%;

	/*display: grid;
	grid-gap: 0;
	/*  review for mobile*
	margin: 0 auto;
	grid-template-columns: 20% 80%;
	grid-template-areas: "side-bar-container content-view-container";*/
}

.side-bar-container {
	background: rgba(255, 255, 255, 0.8);
	-webkit-backdrop-filter: saturate(1.8) blur(20px);
	border-style: none solid none none;
	grid-area: side-bar-container;
	position: fixed;
	height: 100%;
	width: 15%;
	padding-left: 2%;
}

.content-view-container {
	grid-area: content-view-container;
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5rem;
	display: grid;
	grid-gap: 0;

	/*  review for mobile*/
	grid-template-columns: repeat(auto-fit, 300px);
	grid-template-rows: repeat(auto-fit, 400px);
}

.side-bar {
	grid-area: side-bar;
	position: sticky;
	display: flex;
	list-style: none;

	/*  review for mobile*/
	/*top: 50%;
	transform: translate(0, -50%);*/

	height: 100%;
	align-items: right;
	justify-content: center;
	padding-right: 1rem;
	flex-direction: column;  
	text-align: right;
}

.side-bar-item {
	/*  review for mobile*/
	margin-bottom: 1rem;
}

.side-bar-item:hover {
	cursor: pointer;
	text-decoration: underline;
}

.card {
	border-style: none solid solid none;
	display: flex;
	/*  review for mobile*/
	/*width: 300px;
	height: 400px;*/
	flex-direction: column;
}
.card * {
	padding: 1rem;
}



/*add mode for mobile landscape 2 columns, with sidebar on the left*/
/*screens 320, 768, 1200*/
/*screens 448, 704, 1024*/


@media only screen and (max-width: 704px) {
	.main-container {width: 100%;}
	.content-view-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fit, 280px);
	}
	.card {height: 280px; overflow: hidden; text-overflow: ellipsis;}
}

@media only screen and (max-width: 832px) {
	.main-container {width: 100%;}
	.content-view-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fit, 280px);
	}
	.card {height: 280px; overflow: hidden; text-overflow: ellipsis;}
}

@media only screen and (max-width: 448px) {
	.main-container {width: 100%;}
	.content-view-container {
	/*  review for mobile*/
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fit, 280px);
	padding-bottom: 5rem;
	}
	.side-bar-container {
		border-style: solid none none none;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		padding-left: 0;
	}
	.side-bar {
		flex-direction: row;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding: 0;
	}
	.side-bar-item {margin: 1rem;}
	.card {
		width: auto;
		height: 280px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.card p {font-size: 14px}
}